<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giosis.library">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>

        <activity
            android:name=".setting.ChangePwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.DeveloperModeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.LockerUserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.ModifyUserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.NoticeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.NoticeDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.ScanSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.bluetooth.PrinterSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.bluetooth.ModifyDeviceInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pickup.CreatePickupOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pickup.AddressDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" />

        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />


    </application>


</manifest>