<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giosis.library">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".setting.ChangePwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.DeveloperModeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.LockerUserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.ModifyUserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.NoticeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.NoticeDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.ScanSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.bluetooth.PrinterSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.bluetooth.ModifyDeviceInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pickup.CreatePickupOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pickup.AddressDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" />

        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.LanguageSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".message.MessageListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".message.CustomerMessageListDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".message.AdminMessageListDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.submenu.ListNotInHousedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.submenu.StatisticsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.submenu.ScanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.SMSVerificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".util.PermissionActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.AppCompat.Transparent" />

        <activity
            android:name=".list.delivery.DeliveryDoneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

    </application>


</manifest>
